body {
    font-family: url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
}

#new {
    background-color: #d85601;
    color: white;
    padding: 1px;
    font-weight: bold;
}

#tutorbtn {
    border-radius: 23px;
    background-color: #001B61;
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    width: 208px
}

#tutorbtn:hover {
    margin-top: -4px;
    transition: margin-top 0.3s ease-in-out;
    background-color: #001E92;
}

#ulborder {
    border: 2px solid #d85601;
}

#containerimg {
    background-image: url(https://s7template.com/tf/eduskills/assets/images/banner-image-00.jpg);

    background-size: cover;

    position: relative;

}

#form-select {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: 49px;
}

#btnsearch {
    background-color: #d85601;
    border-radius: 30px;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#background {
    /* background-color: #001E92; */
    padding: 50px;
    background-color: rgba(0, 27, 97, 0.35);
    /* opacity:0.4; */
    border-radius: 20px;
}

#spanf {
    color: white;
    font-weight: bold;
    font-size: 80px;
}

#spanf2 {
    color: white;
    font-size: 60px;
    border-bottom: 4px solid #d85601;
}

#span3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#whatf {
    border-bottom: 3px solid#00A5B8;
}

#whatf2 {
    color: #001B61;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#imgs:hover {
    filter: grayscale(1);
}

#imgv {
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

#imgv2 {

    position: absolute;
    left: 473px;
    padding: 121px;
}

#containerc {
    background-color: #f7f2dd;
}

#btnabout {
    background-color: #001B61;
    border: none;
    font-size: 23px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 163px;
    height: 42px;
}

#btnabout:hover {
    margin-top: -4px;
    transition: margin-top 0.3s ease-in-out;
    background-color: #001E92;
}

#textcen {
    color: #001B61;
}

#spanab {
    border-bottom: 4px solid #00A5B8;
}

#upd {
    position: relative;
    top: -140px;
    padding-top: 10px;
}

#textcen2 {
    color: #001B61;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card:hover {
    box-shadow: none;
}

#card,
.card-body:hover {
    padding-top: -18px;
    transition: padding-top .1s ease-in-out;
}

#card,
.img:hover {
    padding-top: 18px;
    transition: padding-top .1s ease-in-out;
}

#searchtutbtn {
    background-color: #001B61;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 163px;
    height: 42px;
}

#scf1c {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#scf1c::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #001B61;
    left: 0;
    opacity: 0.5;
}

#cit:hover {
    filter: grayscale(1);
}

/* #containerimg ::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #001B61;
    left: 0;

    opacity: 0.3;
} */
#btnsee {
    background-color: #F16001;
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 30px;
}

#btnsee:hover {
    background-color: #d85601;
}

#showbtn {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #F16001;
    text-align: right;
}

#a30 {
    color: #F16001;
}

#btne {
    background-color: #F5F5F5;
    border-radius: 10px;
    border: none;
    padding: auto;
    margin: 3px;
}

#btnsend {
    background-color: transparent;
    border: 2px solid #F16001;
    color: #F16001;
    font-size: 20px;
    border-radius: 37px;
}

#btnsend:hover {
    background-color: #F16001;
    color: white;
    border: none;
}

#cardt {
    border-bottom: 1px solid lightslategray;
}

#bccard {
    background-image: url(https://s7template.com/tf/eduskills/assets/images/how-it-works-tutors/left-02.png), 
    url(https://s7template.com/tf/eduskills/assets/images/how-it-works-tutors/right-02.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    top: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bccard2 {
    background-image: url(https://s7template.com/tf/eduskills/assets/images/how-it-works-tutors/left-01.png), 
    url(https://s7template.com/tf/eduskills/assets/images/how-it-works-tutors/right-01.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    top: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bccard:hover{
   box-shadow: none;
   transform: translateY(2px);
}
#bccard2:hover{
    box-shadow: none;
    transform: translateY(2px);
 }
 
#scf1c2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
  
.wrapper { 
    max-width: 1100px; 
    width: 100%; 
    position: relative; 
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: rgb(118, 233, 118); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
} 
  
.wrapper i:first-child { 
    left: -22px; 
  
} 
  
.wrapper i:last-child { 
    right: -22px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    background: #fff; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
#cardimg { 
    background: green; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
#cardimgimg{ 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
} 
  
@media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
}
#h2o{
    font-size: 62px;
  font-weight: bold;
  color: #001E92;
}
#rowbcc{
    background-color: #F7F2DD ;
}
#inputw{
    height: 50px;
    border: none;
}
#button-addon2{
    font-size: 22px;
  background-color: #001E92;
  color:white;
  font-weight: bold;
}
#spanrb{
    border-right: 2px solid black;
    padding-right: 5px;
    padding-left: 5px;
}